# update this file with the correct owners:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @lndslpn
* @khanfsk
* @animeshm19
* @ArmaanKatyal
* @mauliksamit
* @karizz
